img {
	height: 350px;
	width: 360px;
}

body {
	background-color: #52bab3;
}

h1 {
	text-align: center;
	font-size: 60px;
	font-family: 'Raleway', sans-serif;
	margin-top: -40px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 35px;
}

h3 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#score, #message {
	text-align: center;
	font-size: 45px;
}

#message {
	font-weight: bold;
}

#reset {
	margin-left: -120px;
	margin-top: 30px;

}

#playerSymbol {
	text-align: center;
	color: red;
}

