<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors</title>
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

    <div class="container">
      <div ng-controller="myController">

        <!-- header and reset button -->
        <div class="row">
          <div col-sm-3>
            <button id="reset" type="button" class="btn btn-danger btn-lg" ng-click="reset()">Reset</button>
            <h1>Rock, Paper, Scissors</h1>
            <h3>(Click picture to make selection)</h3> 
          </div>
        </div>
        
        <!-- buttons with pictures -->
        <div class="row">
          <div ng-model="choice">
            <div class="col-sm-4">
              <button type="button" ng-click="howToWin('rock'); showMessage()" ><img ng-src="http://clipartzebraz.com/cliparts/rocks-clipart/cliparti1_rocks-clipart_04.jpg"></button>
            </div>
            <div class="col-sm-4">
              <button type="button" ng-click="howToWin('paper'); showMessage()"><img ng-src="http://images.clipartpanda.com/paper-clipart-eiMyezain.png"></button>
            </div>
            <div class="col-sm-4">
              <button type="button" ng-click="howToWin('scissors'); showMessage()"><img ng-src="http://www.clipartbest.com/cliparts/xTg/oqy/xTgoqyyLc.png"></button>
            </div>
          </div>
        </div>
        <br>
          
        <!-- score -->
        <div class="row" id="score">
          <div class="col-sm-6">
            <p>Your Score: {{win}}</p>
          </div>
          <div class="col-sm-6">
            <p>Computer Score: {{lose}}</p>
          </div>
        </div>

        <!-- message that tells who won -->
        <div id="message">
          <p>{{message}}</p>
        </div>
    
        <!-- message that tells what each chose -->
        <div id="playerSymbol" ng-show="symbolMessage">
          <div class="row"> 
            <div class="col-sm-6">
              <h2>You chose: <strong>{{choice | uppercase}}</strong></h2>
            </div>
            <div class="col-sm-6">
              <h2>Computer chose: <strong>{{computerChoice | uppercase}}</strong></h2>
            </div>
          </div>
        </div>

      </div> <!-- close controller -->
    </div> <!-- close container -->
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
  </body>
</html>
